<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.aowu.mapper.DeptMapper">

    <select id="getAllDepts" resultType="tech.aowu.entity.FaDepartment">
        select * from fa_department;
    </select>
    <select id="getDeptByDid" resultType="tech.aowu.entity.FaDepartment">
        select * from fa_department where did=#{did};
    </select>
</mapper>
