<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.aowu.mapper.DeptMapper">
    <insert id="addDept">
        insert into fa_department (did,name,del_flag) values (null,#{name},0);
    </insert>
    <update id="updateDeptById" parameterType="tech.aowu.entity.po.FaDepartment">
        update fa_department set name=#{name},del_flag=#{delFlag} where did=#{did};
    </update>


    <select id="getAllDepts" resultType="tech.aowu.entity.po.FaDepartment">
        select * from fa_department where del_flag=0 ;
    </select>
    <select id="getDeptByDid" resultType="tech.aowu.entity.po.FaDepartment">
        select * from fa_department where did=#{did} AND del_flag=0;
    </select>
    <select id="getAllDeptsByPage" resultType="tech.aowu.entity.po.FaDepartment">
        select * from fa_department
        where del_flag=0
        <if test="keyword!=''">
            AND name like CONCAT('%',#{keyword},'%')
        </if>
        limit #{currIndex},#{perPage}
    </select>
    <select id="getDeptCount" resultType="java.lang.Integer">
        select count(*) from fa_department where del_flag=0 ;

    </select>
    <select id="getDeptByName" resultType="tech.aowu.entity.po.FaDepartment">
        select * from fa_department where name=#{name} AND del_flag=0;
    </select>
</mapper>
