<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.aowu.mapper.RoleMapper">

    <insert id="insetWhenRegist">
        insert into um_user_role
            (uid,rid)
            values
            (#{uid},#{rid});
    </insert>

    <update id="updateUserRole" parameterType="long">
        update um_user_role set rid=#{rid} where uid=#{uid};
    </update>
    <select id="getRoleByUid" resultType="java.lang.Long">
        select rid from um_user_role where uid=#{uid};
    </select>

</mapper>
