<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.aowu.mapper.UserMapper">

    <select id="getUmUserByUsername" resultType="tech.aowu.entity.po.UmUser" parameterType="String">
        select * from um_user where username=#{username};
    </select>

    <select id="getUserByPage" resultType="tech.aowu.entity.vo.UserView">
        select * from users
        <if test="keyword!=''">
            where username like CONCAT('%',#{keyword},'%')
        </if>
        limit #{currIndex},#{pageSize}

    </select>
    <select id="getUserCount" resultType="java.lang.Integer">
        select count(*) from um_user where del_flag!=1;
    </select>
    <select id="getUserViewById" resultType="tech.aowu.entity.vo.UserView">
        select * from users
        where id=#{uid}
    </select>
    <select id="getAllCustodian" resultType="tech.aowu.entity.vo.CustodianView">
        SELECT users.id,users.nickname
        from users
        where
            users.role_id=4

    </select>
    <select id="getWorker" resultType="tech.aowu.entity.vo.UserView">
        select * from users
        where dept_id=#{did}
        AND role_id=3;
    </select>
    <select id="getByDeptRole" resultType="tech.aowu.entity.vo.UserView">
        select * from users WHERE 1=1
        <if test="deptId!=null">
            AND dept_id=#{deptId}
        </if>
        <if test="roleId!=null">
            AND role_id=#{roleId}
        </if>
        limit #{currIndex},#{pageSize}
    </select>
    <select id="getByDeptRoleCount" resultType="java.lang.Integer">
        select COUNT(*) from users WHERE 1=1
        <if test="deptId!=null">
            AND dept_id=#{deptId}
        </if>
        <if test="roleId!=null">
            AND role_id=#{roleId}
        </if>
    </select>



    <update id="updateLoginTimeByUid" parameterType="long">
        update um_user set login_time =current_timestamp where uid=#{uid};
    </update>
    <update id="changeuserPwd">
        update um_user set password=#{password} where uid=#{uid};
    </update>
    <update id="changeUserEmail">
        update um_user set email=#{email} where uid=#{uid};
    </update>
    <update id="changeUserPhone">
        update um_user set phone_num=#{phone} where uid=#{uid};

    </update>


    <insert id="regist" parameterType="tech.aowu.entity.po.UmUser" useGeneratedKeys = "true" keyProperty = "uid">
        insert into um_user
            (uid,nickname,username,password,department,del_flag,phone_num,email,reg_time,login_time)
        values
            (null ,#{nickname},#{username},#{password},#{department},0,#{phoneNum},#{email},current_timestamp,null);

    </insert>



</mapper>
