<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.aowu.mapper.UserMapper">

    <select id="getUmUserByUsername" resultType="tech.aowu.entity.UmUser" parameterType="String">
        select * from um_user where username=#{username};
    </select>

    <select id="getUserByPage" resultType="tech.aowu.entity.vo.UserView">

    </select>
    <select id="getUserCount" resultType="java.lang.Integer">
        select count(*) from um_user where del_flag!=1;
    </select>


    <update id="updateLoginTimeByUid" parameterType="long">
        update um_user set login_time =current_timestamp where uid=#{uid};
    </update>




    <insert id="regist" parameterType="tech.aowu.entity.UmUser"  useGeneratedKeys = "true"  keyProperty = "uid">
        insert into um_user
            (uid,nickname,username,password,department,del_flag,phone_num,email,reg_time,login_time)
        values
            (null ,#{nickname},#{username},#{password},#{department},0,#{phoneNum},#{email},current_timestamp,null);

    </insert>



</mapper>
